<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAxouUCfa9YxFN1JlbBgXXpjMu5aDCzGqI</string>
	<key>GCM_SENDER_ID</key>
	<string>584626508946</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.himchndra.haken</string>
	<key>PROJECT_ID</key>
	<string>himchndra-shift-attendant</string>
	<key>STORAGE_BUCKET</key>
	<string>himchndra-shift-attendant.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:584626508946:ios:a6ea161f7bce14dc52424b</string>
</dict>
</plist>